//Created by lollipop 2017/11/7

/** 初始化 **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active,a:hover{outline:0}
li{list-style:none;}

body,html {
  margin: 0;
  font:  62.5% "Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
  //line-height: 100%;
  background-color: #FFF;
  user-select:none;
}

div,input,span,p {
  user-select: none;
}

ul,li {
  list-style-type: none;
}

a {
  &.hover {
    &:hover {
      color: $theme-color;
      text-decoration: underline;
    }
  }
  &:focus {
    text-decoration: none !important;
  }
}

