//Created by lollipop 2017/11/7
$border-color: #eaeaea;
$theme-color: #ff971c;
$font-color: #515567;
$a-font-color: #555;
$result-font-color: #676767;
$background-color: #fbfbfb;
$background-img: #fff;
