//Created by lollipop 2017/11/7
$border-color: #e7e7e7;
$theme-color: #FF5B63;
$font-color: #515567;
$a-font-color: #333;
$result-font-color: #676767;
$background-color: #fbfbfb;
$background-img: #fff;
