//Created by lollipop 2017/11/7
.copy-right {
  padding: 20px 0 30px;
  border-top: 1px solid #e6e3df;
  text-align: center;
  color: #525252;
  font-size: 1.2rem;
  .authens {
    height: 35px;
    width: 80px;
    background: url(/static/images/authentication.png) no-repeat;
    margin: 5px 8px 0;
  }
}
