//Created by lollipop 2017/11/7
.fot-sec {
  .fot-sec1 {
    padding-top: 18px;
    padding-bottom: 22px;
    border-top: 2px solid $theme-color;
    background-color: $background-color;
  }
  .traits {
    margin-left: 65px;
    &:first-child {
      margin-left: 0;
    }
    .table-cell {
      &:first-child {
        padding-right: 18px;
      }
      vertical-align: top;
      font-size: 1.4rem;
      h3 {
        line-height: 2.2rem;
        color: #555;
      }
      p {
        line-height: 2.0rem;
        color: #666;
      }
    }
  }
  .fot-sec2 {
    padding: 30px 0;
    .fot-col {
      position: relative;
      margin-left: 110px;
      font-size: 1.4rem;
      line-height: 2.2rem;
      &:first-child {
        margin-left: 0;
      }
      h3 {
        color: #555;
      }
      p {
        color: #aaa;
        cursor: pointer;
      }
      .ver-line {
        position: absolute;
        height: 100%;
        top: 0;
        right: -50px;
        width: 1px;
        background-color: #eee;
      }
    }
  }
  .copy-right {
    padding: 16px 0;
    border-top: 1px solid #eee;
    span {
      margin-right: 28px;
      color: #aaa;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
}
