//Created by lollipop 2017/11/13
.fyq-wrapper {
  margin-bottom: 40px;
  .ivu-breadcrumb {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #666;
    &>span:last-child {
      font-weight: 400;
      color: #666;
    }
    &>span:first-child {
      font-weight: 700;
    }
  }
  .wrapper-container {
    margin-top: 20px;
    .fyq-navigation {
      min-height: 626px;
      .fyq-category-header {
        height: 40px;
        line-height: 40px;
        padding-left: 56px;
        background-color: #14b45e;
        font-size: 1.6rem;
        color: #fff;
      }
      .fyq-category-collapse {
        .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
          color: #14b45e;
          border-right: 2px solid #14b45e;
        }
      }
      .ivu-menu-vertical .ivu-menu-submenu-title {
        background-color: #f7f7f7;
      }
      .ivu-menu-vertical .ivu-menu-item,
      .ivu-menu-vertical .ivu-menu-submenu-title {
        padding: 10px 24px;
      }
    }
    .fyq-content {
      min-height: 626px;
      .ivu-breadcrumb {
        padding-left: 20px;
        background-color: #f7f7f7;
        font-size: 1.4rem;
        color: #666;
        &>span:first-child {
          font-weight: 400;
        }
      }
      .fyq-article {
        padding-top: 20px;
        padding-left: 20px;
        .anchor {
          padding-bottom: 15px;
          h3 {
            line-height: 24px;
            font-weight: 400;
            color: #14b45e;
            font-size: 1.4rem;
          }
          ul {
            li {
              padding-left: 20px;
              line-height: 20px;
            }
          }
          .inner-item {
            line-height: 20px;
            position: relative;
            &>span {
              position: absolute;
              top: 0;
              left: 0;
            }
            &>.inner-item {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

