//Created by lollipop 2017/11/7
.navbar {
  .ivu-menu-horizontal {
    height: 40px;
    line-height: 40px;
  }
  border-bottom: 2px solid $theme-color;
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
    width: 100px;
    margin-right: 20px;
    border-bottom: none;
    display: inline-block;
  }

  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
    color: $theme-color;
    border-bottom: none;
  }
  .ivu-menu-submenu-title span>i,
  .ivu-menu-submenu-title>i {
    margin-left: 68px;
  }
  .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
    padding: 2px 16px 2px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    font-size: 1.6rem;
    color: $a-font-color;
    text-align: center;
    //border-bottom: 2px solid transparent;
    &:hover {
      color: $theme-color;
      //border-bottom: 2px solid $theme-color;
    }
    &.active {
      color: $theme-color;
      //border-bottom: 2px solid $theme-color;
    }
  }
  .mall-wrap {
    position: relative;
    .shop-cart {
      position: absolute;
      right: 0;
      top: 0;
      width: 140px;
      height: 100%;
      z-index: 900;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .cart{
    width: 176px;
    height: 40px;
    float: right;
    line-height: 40px;
    color: #666;
    cursor: pointer;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
    top: -50px;
    z-index: 1000;
    font-size: 16px;
  }
  .cart:hover{
    background: #ff5b63;
    color: #ffffff;
  }
}

