//Created by lollipop 2017/11/7
.navbar {
  border-bottom: 1px solid #000;
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
    width: 100px;
    margin-right: 20px;
    border-bottom: none;
    display: inline-block;
  }

  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
    color: $theme-color;
    border-bottom: none;
  }
  .ivu-menu-submenu-title span>i,
  .ivu-menu-submenu-title>i {
    margin-left: 68px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    font-weight: bold;
    font-size: 1.6rem;
    color: $a-font-color;
    text-align: center;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $theme-color;
      border-bottom: 2px solid $theme-color;
    }
    &.active {
      color: $theme-color;
      border-bottom: 2px solid $theme-color;
    }
  }
}

